.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 265px;
  background-color: #EEEEEE;
  border-radius: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.title:hover {
  cursor: pointer;
}

.mat-toolbar img {
  height: var(--mat-toolbar-standard-height);
}