.mat-h2 {
  margin-top: 2vh;
}

.container {
  margin: 20px;
}

.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

mat-card-title-group {
  justify-content: center;
}

button {
  margin: auto 0;
  width: 30%;
}