h1 {
    text-align: center;
    margin: 5vh 0 5vh;
}

h4 {
    text-align: center;
    margin: 0 8% 8vh;
    font-size: 1.5em;
}

.btns {
    display: flex;
}

.btn {
    justify-content: center;
}

.btn p {
    justify-self: center;
    text-align: center;
    width: 70%;
}
.btn button {
    margin: 0 20%;
}