<h1 matSubheader>Welcome to EcoConnect!</h1>
<h4>
    Located in the extended Seattle area, EcoConnect is dedicated to pushing for greater environmental change 
    in our community by advocating and promoting volunteering focusing on the improvement of the environment. 
    Our website has a smooth & easy process that connects eager volunteers in high school with local 
    service event hosters. 
</h4>
<div class="btns">
    <div class="btn">
    <p>Are you an organizer hosting a service event to help the environment? Click here!</p>
    <button mat-raised-button routerLink="../submit">Submit a Service Event</button>
</div>
<div class="btn">
    <p>Are you a high schooler looking for ways to earn volunteer hours & help the environment? Click here!</p>
    <button mat-raised-button routerLink="../postings">Look through Volunteer Oppurtunities</button>
</div>
</div>