<form [formGroup]="applyForm" novalidate (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Apply for {{job}}</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
          />
          @if (applyForm.controls['firstName'].hasError('required')) {
          <mat-error>First name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Last name" formControlName="lastName" />
          @if (applyForm.controls['lastName'].hasError('required')) {
          <mat-error>Last name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width age">
          <input matInput placeholder="Age" formControlName="age" />
          @if (applyForm.controls['age'].hasError('required')) {
          <mat-error>Age is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            type="email"
          />
          @if (applyForm.controls['email'].hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Phone Number" formControlName="phone" />
          @if (applyForm.controls['phone'].hasError('required')) {
          <mat-error>Phone Number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="Volunteering Experience"
            formControlName="jobExp"
          ></textarea>
          @if (applyForm.controls['jobExp'].hasError('required')) {
          <mat-error>Experience is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea
            matInput
            placeholder="Other Information"
            formControlName="other"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="applyForm!.valid"
    >
      Done
    </button>
  </mat-dialog-content>
</form>
